.side-bar {
  background-color: white;

  width: 70%;
  max-width: 400px;
  height: 97%;

  overflow-y: hidden;

  border-right: 1px solid rgb(168, 189, 242);
  border-radius: 0.8rem;

  margin: 15px;
  padding: 0 10px;
}
