.form__input {
  padding: 10px 10px;
  width: 250px;

  border: 2px solid rgb(168, 168, 168);
  border-radius: 0.2rem;
  outline: none;

  color: black;
  background-color: white;
}

.form__input:focus-visible {
  outline: 1px solid black;
}
